<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
<title>On Spring</title>
</head>
<body>
	<div class="container">
		<h2>글쓰기</h2>
		<hr />
		<form action="post.html" th:object="${post}"
			th:action="@{${#httpServletRequest.servletPath}}" method="post">

			<fieldset class="form-group">
				<label for="formGroupTitle">Title</label> <input id="formGroupTitle"
					type="text" class="form-control" name="title"
					th:field="${post.title}" placeholder="Title input" />
			</fieldset>

			<fieldset class="form-group">
				<label for="formGroupName">Name</label> <input id="formGroupName"
					type="text" class="form-control" name="name"
					th:field="${post.name}" placeholder="Name input" />
			</fieldset>

			<fieldset class="form-group">
				<label for="formGroupContent">Content</label>
				<textarea id="formGroupContent" class="form-control" name="content"
					rows="5" th:field="${post.content}"></textarea>
			</fieldset>

			<input type="submit" value="저장" />
		</form>
	</div>
</body>
</html>
